<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Mellowdyne</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/productCart.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <script
      src="https://kit.fontawesome.com/525d227bb1.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>
      <div class="main_header">
        <div class="header_menu">
          <button class="hamburguer-button">
            <i class="fas fa-bars"></i>
          </button>
          <a class="search_movil" href="#">
            <i class="fas fa-search"></i>
          </a>
        </div>
        <div class="header_logo">
          <a href="/" class="logo">
            <img class="logo_img" src="/images/mellowdyne.svg" alt="" />
          </a>

          <div class="search">
            <input type="text" placeholder="Buscar" />
          </div>
        </div>
        <div class="header_icons">
          <a href="/login" class="user-icon">
            <i class="fas fa-user"></i>
          </a>
          <div class="butt-regis_login">
            <button class="btn_registro">
              <a href="/register">Registro</a>
            </button>
            <button class="btn_registro">
              <a href="/login">Login</a>
            </button>
          </div>
          <a href="/cart" class="car-icon">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </div>
      </div>
      <nav class="main-navbar_movil menu_movil">
        <ul>
          <li><a href="#">Lo nuevo</a></li>
          <li><a href="#">Lo más vendido</a></li>
          <li><a href="#">Género</a></li>
          <li><a href="#">Estilos</a></li>
        </ul>
      </nav>
      <nav class="main-navbar_desktab">
        <ul>
          <li><a href="#">Lo nuevo</a></li>
          <li><a href="#">Lo más vendido</a></li>
          <li><a href="#">Género</a></li>
          <li><a href="#">Estilos</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="header-carrito">
        <h2>Tu carrito</h2>
      </div>
      <div class="productoX">
        <a href="/productDetail">
          <img
            class="img-car"
            src="images\beatles.jpeg"
            alt="Abbey Road-The Beatles"
          />
        </a>

        <div class="info-album">
          <p>Abbey Road</p>
          <p><strong>The Beatles</strong></p>
        </div>
        <div class="cantidad">
          <i class="fas fa-minus-circle"></i>
          <p>1</p>
          <i class="fas fa-plus"></i>
        </div>
        <p>$550 mxn</p>
        <i class="far fa-trash-alt"></i>
      </div>
      <div class="productoX">
        <a href="/productDetail">
          <img
            class="img-car"
            src="images\crystalcastles.jpg"
            alt="(III)-Crystal Castles"
          />
        </a>

        <div class="info-album">
          <p>(III)</p>
          <p><strong>Crystal Castles</strong></p>
        </div>
        <div class="cantidad">
          <i class="fas fa-minus-circle"></i>
          <p>1</p>
          <i class="fas fa-plus"></i>
        </div>
        <p>$550 mxn</p>
        <i class="far fa-trash-alt"></i>
      </div>
      <div class="subtotal">
        <h5>Subtotal</h5>
        <p>$1100 mxn</p>
      </div>
      <div class="botones">
        <button type="button">Seguir comprando</button>
        <button class="comprar" type="submit">Finalizar pedido</button>
      </div>
    </main>
    <footer>
      <div class="row footer-container">
        <div class="column footer-company">
          <img class="footer-logo" src="/images/mellowdyne.svg" alt="" />

          <p>
            Dirigido a los amantas de la música que buscan una experiencia
            diferente de consumir música, coleccionistas, jóvenes entusiastas y
            músicos.
          </p>
          <p>
            Compra online tus discos de vinilo favoritos. Mellowdyne te ofrece
            diferentes estilos y géneros musicales de artistas nacionales e
            internacionales.
          </p>
        </div>
        <div class="column footer-help">
          <h2>Ayuda y soporte</h2>
          <p>
            En caso de que el producto tenga defectos de fábrica, tienes derecho
            a recibir un reembolso total, crédito en la tienda o el cambio de su
            producto, cuenta con 20 días para solicitar la petición.
          </p>
        </div>
        <div class="column footer-contacts">
          <h2>Contactos</h2>
          <p>
            Av. We Are the Champions 3500<br />
            Ciudad: Mercury<br />
            C.P: 4500
          </p>
        </div>
        <div class="column footer-social">
          <h2>Siguenos</h2>
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-linkedin"></a>
          <a href="#" class="fa fa-youtube"></a>
        </div>
      </div>
    </footer>
    <script src="/js/index.js"></script>
  </body>
</html>
