<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <title>Mellowdyne</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://kit.fontawesome.com/525d227bb1.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="main_header">
        <div class="header_menu">
          <button class="hamburguer-button">
            <i class="fas fa-bars"></i>
          </button>
        </div>
        <div class="header_logo">
          <a href="#" class="logo">
            <img class="logo_img" src="/images/mellowdyne-disco.svg" alt="" />
          </a>
          <div class="search">
            <input type="text" placeholder="Buscar" />
          </div>
        </div>
        <div class="header_icons">
          <a href="#" class="user-icon">
            <i class="fas fa-user"></i>
          </a>
          <div class="butt-regis_login">
            <button class="btn_registro">Registro</button>
            <button class="btn_registro">Login</button>
          </div>
          <a href="#" class="car-icon">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </div>
      </div>
      <nav class="main-navbar_movil menu_movil">
        <ul>
          <li><a href="#">Lo nuevo</a></li>
          <li><a href="#">Lo más vendido</a></li>
          <li><a href="#">Género</a></li>
          <li><a href="#">Estilos</a></li>
        </ul>
      </nav>
      <nav class="main-navbar_desktab">
        <ul>
          <li><a href="#">Lo nuevo</a></li>
          <li><a href="#">Lo más vendido</a></li>
          <li><a href="#">Género</a></li>
          <li><a href="#">Estilos</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="carrousel">
        <div class="grande">
          <img class="img" src="/images/vinilo_baner1.jpg" />
          <img class="img" src="/images/vinilo_baner2.jpg" />
        </div>
        <ul class="puntos">
          <li class="punto"></li>
          <li class="punto"></li>
        </ul>
      </section>
      <section class="section-top">
        <h2 class="section-top_title">Lo más top</h2>

        <article class="top-article-disk">
          <a>
            <img class="top-disk-img" src="/images/beatles.jpeg" />
          </a>
          <p>The Beatles</p>
        </article>

        <article class="top-article-disk">
          <a>
            <img class="top-disk-img" src="/images/dreamtheater.jpeg" />
          </a>
          <p>Dream Theater</p>
        </article>

        <article class="top-article-disk">
          <a>
            <img class="top-disk-img" src="/images/genesis.jpeg" />
          </a>
          <p>Genesis</p>
        </article>

        <article class="top-article-disk">
          <a>
            <img class="top-disk-img" src="/images/pinkfloyd.jpeg" />
          </a>
          <p>Pink Floyd</p>
        </article>
      </section>
      <section class="section-top">
        <h2 class="section-top_title">Ediciones populares</h2>

        <article class="top-article-disk">
          <a>
            <img class="top-disk-img" src="/images/beatles.jpeg" />
          </a>
          <p>The Beatles</p>
        </article>

        <article class="top-article-disk">
          <a>
            <img class="top-disk-img" src="/images/dreamtheater.jpeg" />
          </a>
          <p>Dream Theater</p>
        </article>

        <article class="top-article-disk">
          <a>
            <img class="top-disk-img" src="/images/genesis.jpeg" />
          </a>
          <p>Genesis</p>
        </article>

        <article class="top-article-disk">
          <a>
            <img class="top-disk-img" src="/images/pinkfloyd.jpeg" />
          </a>
          <p>Pink Floyd</p>
        </article>
      </section>
      <section class="section-top">
        <h2 class="section-top_title">Ediciones más vendidas del mes</h2>

        <article class="top-article-disk">
          <a>
            <img class="top-disk-img" src="/images/beatles.jpeg" />
          </a>
          <p>The Beatles</p>
        </article>

        <article class="top-article-disk">
          <a>
            <img class="top-disk-img" src="/images/dreamtheater.jpeg" />
          </a>
          <p>Dream Theater</p>
        </article>

        <article class="top-article-disk">
          <a>
            <img class="top-disk-img" src="/images/genesis.jpeg" />
          </a>
          <p>Genesis</p>
        </article>

        <article class="top-article-disk">
          <a>
            <img class="top-disk-img" src="/images/pinkfloyd.jpeg" />
          </a>
          <p>Pink Floyd</p>
        </article>
      </section>
    </main>
    <script src="/js/index.js"></script>
  </body>
</html>
