<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <title>Mellowdyne</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script
      src="https://kit.fontawesome.com/525d227bb1.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="main_header">
        <div class="header_menu">
          <button class="hamburguer-button">
            <i class="fas fa-bars"></i>
          </button>
        </div>
        <div class="header_logo">
          <a href="#" class="logo">Mellowdyne</a>
          <div class="search">
            <input type="text" placeholder="Buscar" />
          </div>
        </div>
        <div class="header_icons">
          <a href="#" class="user-icon">
            <i class="fas fa-user"></i>
          </a>
          <div class="butt-regis_login">
            <button>Registro</button>
            <button>Iniciar sesión</button>
          </div>
          <a href="#" class="car-icon">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </div>
      </div>
      <nav class="main-navbar_desktab">
        <ul>
          <li><a href="#">Lo nuevo</a></li>
          <li><a href="#">Lo más vendido</a></li>
          <li><a href="#">Género</a></li>
          <li><a href="#">Estilos</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="carrousel">
        <div class="grande">
          <img class="img" src="/images/Disco_de_Vinilo.jpg" />
          <img class="img" src="/images/vinilo2.jpg" />
        </div>
        <ul class="puntos">
          <li class="punto"></li>
          <li class="punto"></li>
        </ul>
      </section>
      <section class="top">
        <h2>Lo más top</h2>
        <div class="vin-top">
          <div class="top1">
            <a>CD1</a>
            <a>CD1</a>
            <a>CD1</a>
          </div>
          <div class="top2">
            <a>CD1</a>
            <a>CD1</a>
            <a>CD1</a>
          </div>
          <div class="top3">
            <a>CD1</a>
            <a>CD1</a>
            <a>CD1</a>
          </div>
        </div>
      </section>
    </main>
    <script src="/js/index.js"></script>
  </body>
</html>
