<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <title>Mellowdyne</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <script
      src="https://kit.fontawesome.com/525d227bb1.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="main_header">
        <div class="header_menu">
          <button class="hamburguer-button">
            <i class="fas fa-bars"></i>
          </button>
        </div>
        <div class="header_logo">
          <a href="#" class="logo">
            <img class="logo_img" src="/images/mellowdyne-disco.svg" alt="" />
          </a>
          <div class="search">
            <input type="text" placeholder="Buscar" />
          </div>
        </div>
        <div class="header_icons">
          <a href="#" class="user-icon">
            <i class="fas fa-user"></i>
          </a>
          <div class="butt-regis_login">
            <button class="btn_registro">Registro</button>
            <button class="btn_registro">Login</button>
          </div>
          <a href="#" class="car-icon">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </div>
      </div>
      <nav class="main-navbar_movil menu_movil">
        <ul>
          <li><a href="#">Lo nuevo</a></li>
          <li><a href="#">Lo más vendido</a></li>
          <li><a href="#">Género</a></li>
          <li><a href="#">Estilos</a></li>
        </ul>
      </nav>
      <nav class="main-navbar_desktab">
        <ul>
          <li><a href="#">Lo nuevo</a></li>
          <li><a href="#">Lo más vendido</a></li>
          <li><a href="#">Género</a></li>
          <li><a href="#">Estilos</a></li>
        </ul>
      </nav>
    </header>

    <!-- Formulario -->
    <form action="/" method="get" class="create-form">
      <div class="control-formulario">
        <label>Nombre y apellido</label>
        <input
          type="text"
          name="nombre"
          class="control"
          placeholder="Carlos Lira"
        />
      </div>
      <div class="control-formulario">
        <label> Nombre de usuario</label>
        <input
          required
          type="text"
          name="usuario"
          placeholder="carlos123"
          class="control"
        />
      </div>
      <div class="control-formulario">
        <label>Correo</label>
        <input
          required
          type="email"
          name="correo"
          placeholder="carlos_lira@outlook.com"
          class="control"
        />
      </div>
      <div class="control-formulario">
        <label>Fecha de nacimiento</label>
        <input placeholder="" type="date" name="fecha" class="control" />
      </div>

      <div class="control-formulario">
        <label>Ciudad:</label>
        <select name="ciudad" class="control">
          <option value="mexico">México</option>
          <option value="villahermosa">Villahermosa</option>
          <option value="nuevoleon">Nuevo Leon</option>
        </select>
      </div>

      <div class="control-formulario perfil-usuario">
        <label>Perfil del usuario</label>

        <div class="compra-vende">
          <div>
            <label for="vendedor">Vendedor</label>
            <input
              type="radio"
              value="vendedor"
              name="tipoUsuario"
              id="vendedor"
            />
          </div>
          <div>
            <label for="comprador">Comprador</label>
            <input
              type="radio"
              value="comprador"
              name="tipoUsuario"
              id="comprador"
            />
          </div>
        </div>
      </div>

      <div class="control-formulario perfil-usuario">
        <label>Intereses</label>

        <div class="intereses">
          <label for="electro" class="interes_opcion"
            >Electro
            <input
              type="checkbox"
              name="intereses"
              id="electro"
              value="Electro"
            />
          </label>

          <label for="moda" class="interes_opcion"
            >Moda
            <input type="checkbox" name="intereses" id="moda" value="Moda" />
          </label>

          <label for="hogar" class="interes_opcion"
            >Hogar
            <input type="checkbox" name="intereses" id="hogar" value="Hogar" />
          </label>

          <label for="jugueteria" class="interes_opcion"
            >Juguetería
            <input
              type="checkbox"
              name="intereses"
              id="jugueteria"
              value="Juguetería"
            />
          </label>

          <label for="vidasana" class="interes_opcion"
            >Vida Sana
            <input
              type="checkbox"
              name="intereses"
              id="vidasana"
              value="Vidasana"
            />
          </label>
        </div>
      </div>

      <div class="control-formulario">
        <label>Seleccionar una imagen para el perfil</label>
        <input type="file" name="avatar" accept=".jpg" id="" class="control" />
      </div>

      <div class="control-formulario">
        <label> Contraseña</label>
        <input
          minlength="8"
          type="password"
          name="contraseña"
          placeholder="@567Ac34"
          class="control"
        />
      </div>

      <div class="control-formulario">
        <label> Confirmar contraseña</label>
        <input
          minlength="8"
          type="password"
          name="confirmar-contraseña"
          class="control"
        />
      </div>

      <button type="submit" class="boton-formulario">Enviar</button>
      <button type="reset" class="boton-formulario">Borrar</button>
    </form>
  </body>
</html>
