* {
  margin: ​0​px​;
  padding: ​0​px​;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* estilos carrito del main */
main {
  margin-left: 5vw;
  margin-top: 4rem;
  margin-right: 50px;
}
.header-carrito {
  margin-bottom: 50px;
  font-size: 1.5rem;
}
.productoX {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;

  border-bottom: 1px solid black;
  padding-bottom: 20px;
  justify-content: space-between;
}

/* div.productoX img {
  width: 10%;
} */

.productoX a {
  width: 10%;
}

.img-car {
  width: 100%;
}

.info-album {
  width: 25%;
  align-items: center;
  text-align: left;
}
.cantidad {
  align-items: center;
  display: flex;
  flex-direction: row;
}
div.cantidad i {
  padding: 5px;
  justify-content: center;
  display: inline-block;
}

.subtotal {
  padding-right: 15vw;
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: right;
  align-items: center;
}

div.subtotal p {
  font-size: 1rem;
  margin-left: 5vw;
}

.botones {
  display: flex;
  padding-right: 15vw;
  justify-content: flex-end;
}
div.botones button {
  margin-left: 50px;
  background-color: black;
  color: white;
  border-radius: 30px;
  box-sizing: border-box;
  padding: 5px;
}

/* media query de carrito movil*/
@media (max-width: 768px) {
  .header-carrito {
    text-align: center;
    margin-bottom: 50px;
  }
  .productoX {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.7rem;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
  }
  /* div.productoX img {
    width: 25vw;
    align-items: flex-end;
  } */
  .productoX a {
    width: 25%;
  }
  .info-album {
    width: 10%;
    margin: 5px;
    align-items: center;
    text-align: left;
  }
  div.cantidad i {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
  }
  .cantidad {
    width: 15%;
  }
  .subtotal {
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    padding-right: 10vw;
    font-size: 1rem;
  }

  div.subtotal p {
    font-size: 0.75rem;
    text-align: right;
  }

  .botones {
    display: block;
    text-align: center;
    margin: 20px;
    font-size: 0.75rem;
    line-height: 3rem;
  }
}
