        * {
            box-sizing: border-box;
        }
        
        body {
            font-family: "Poppins", sans-serif;
            background: white;
            color: black;
        }
        
        .product-column {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
        /* Clear floats after the columns */
        /*.row:after {
    content: "";
    display: table;
    clear: both;
}*/
        
        .main-image img {
            width: 320px;
            height: 320px;
        }
        
        .small-images {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            margin: auto;
            width: 100%;
        }
        
        .pic {
            justify-content: space-between;
            width: 50%;
            padding: 20px;
        }
        
        .product-price,
        .product-details {
            padding: 0 40px;
        }
        
        .title {
            text-transform: uppercase;
            padding-left: 40px;
            font-size: 14px;
        }
        
        .border-title {
            margin-top: 20px;
            display: block;
            border: 1px solid black;
            margin-right: 40px;
        }
        
        .product-price {
            display: flex;
            width: 100%;
            margin-top: 40px;
            align-items: flex-end;
            justify-content: space-between;
        }
        
        .price {
            order: -1;
            font-size: 18px;
            align-self: flex-end;
        }
        
        .price h3 {
            display: block;
            margin: 0 !important;
        }
        
        .moneda {
            font-size: 10px;
        }
        
        .add-btn button {
            font-size: 8px;
            color: #fff;
            text-transform: uppercase;
            background-color: #000;
            border: 1px solid #000;
            border-radius: 5px;
            padding: 5px 20px;
        }
        
        .product-details h4 {
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            padding: 7px;
        }
        
        @media (min-width: 769px) {
            .footer-row {
                display: flex;
                flex-wrap: wrap;
                width: 100%
            }
            .product-pics {
                border-right: 1px solid #000;
                padding-left: 40px;
            }
            .product-column {
                justify-content: space-between;
                width: 50%;
            }
            .small-images {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                margin: auto;
                width: 100%;
            }
            .pic {
                justify-content: space-between;
                width: 35%;
                padding: 20px;
            }
        }
        
        @media (min-width: 1200px) {
            .product-column,
            .small-images {
                display: flex;
                justify-content: center;
            }
            .product-info {
                width: 40%;
            }
            .main-image img {
                margin-top: 25px;
                width: 440px;
                height: 440px;
            }
            .pic {
                margin-bottom: 30px;
            }
            .price {
                font-size: 21px;
            }
            .moneda {
                font-size: 16px;
            }
            .add-btn button {
                font-size: 11px;
                color: #fff;
                text-transform: uppercase;
                background-color: #000;
                border: 1px solid #000;
                border-radius: 5px;
                padding: 7px 25px;
            }
            .product-details h4 {
                margin-bottom: 40px;
                margin-top: 40px;
                padding: 10px;
            }
            .product-details p {
                font-size: 16px;
            }
            .product-price {
                margin-top: 60px;
            }
        }