* {
  margin: ​0​px​;
  padding: ​0​px​;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* header, menu y barra de navegacion .................. */

.main_header {
  width: 100vw;
  height: 12vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  background-color: #3c119e;
}

.header_menu {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburguer-button {
}

.header_logo {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

/* la barra de busqueda para tablets y escritorio */
.search {
  display: none;
}

.header_icons {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-icon {
  width: 50%;
  text-align: center;
  color: #fff;
}

.butt-regis_login {
  display: none;
}

.car-icon {
  width: 50%;
  text-align: center;
  color: #fff;
}

/* tamaño de iconos */
.user-icon,
.car-icon,
.hamburguer-button {
  font-size: 1.3rem;
}

.main-navbar_desktab {
  display: none;
}

/* Main sección del baner carrusel --------------*/
.carrousel {
  width: 100%;
  /* height: 88vh; */
  /* ocultar la otra imagen del carrusel */
  overflow: hidden;
}
.carrousel .grande {
  width: 200%;
  /* height: 88vh; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  transition: all 0.5s ease;
  transform: translateX(0%);
}

.carrousel .img {
  width: calc(100% / 2);
  height: fit-content;
  /* height: 88vh; */
}

.carrousel .puntos {
  width: 100%;
  background-color: rgb(252, 243, 243);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.carrousel .punto {
  width: 0.7rem;
  height: 0.7rem;
  background-color: #fff;
  border: 1px solid black;
  margin: 1em;
  border-radius: 100%;
}

.carrousel .punto.activo {
  background-color: #3c119e;
}

/* medias queries para el header o menu o navbar */

@media (min-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
  }
  .header_menu {
    display: none;
  }
  .header_logo {
    width: 60%;
    display: flex;
  }
  .logo {
    width: 35%;
    display: flex;
    justify-content: center;
  }
  .search {
    display: block;
    width: 65%;
    display: flex;
    justify-content: flex-start;
  }
  .search input {
    width: 90%;
    border: 1px solid gray;
    border-radius: 5px;
  }
  .header_icons {
    width: 40%;
  }
  .user-icon {
    display: none;
  }
  .butt-regis_login {
    width: 80%;
    display: block;
    display: flex;
    justify-content: space-around;
  }
  .car-icon {
    width: 20%;
  }

  .main-navbar_desktab {
    width: 100%;
    background-color: #6931eb;
    display: block;
  }

  .main-navbar_desktab ul {
    display: flex;
    justify-content: space-around;
  }

  .main-navbar_desktab ul li {
    list-style: none;
  }

  .main-navbar_desktab ul li a {
    color: #ffffff;
    text-decoration: none;
  }
}
