* {
  margin: ​0​px​;
  padding: ​0​px​;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* header, menu y barra de navegacion .................. */

.main_header {
  width: 100vw;
  height: 12vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.header_menu {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburguer-button {
}

.header_logo {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  text-decoration: none;
  font-size: 18px;
}

/* la barra de busqueda para tablets y escritorio */
.search {
  display: none;
}

.header_icons {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-icon {
  width: 50%;
  text-align: center;
}

.butt-regis_login {
  display: none;
}

.car-icon {
  width: 50%;
  text-align: center;
}

/* tamaño de iconos */
.user-icon,
.car-icon,
.hamburguer-button {
  font-size: 1.3rem;
}

/* medias queries para el header o menu o navbar */

@media (min-width: 768px) {
  .header_menu {
    display: none;
  }
  .header_logo {
    width: 60%;
    display: flex;
  }
  .logo {
    width: 35%;
    display: flex;
    justify-content: center;
  }
  .search {
    display: block;
    width: 65%;
    display: flex;
    justify-content: flex-start;
  }
  .search input {
    width: 90%;
    border: 1px solid gray;
    border-radius: 5px;
  }
  .header_icons {
    width: 40%;
  }
  .user-icon {
    display: none;
  }
  .butt-regis_login {
    width: 80%;
    display: block;
    display: flex;
    justify-content: space-around;
  }
  .car-icon {
    width: 20%;
  }
}
