<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/footer.css" />
</head>

<body>
    <footer>

        <div class="row footer-container">
            <div class="column footer-company">

                <img class="footer-logo" src="/images/mellowdyne-disco.svg" alt="" />

                <p>Dirigido a los amantas de la música que buscan una experiencia diferente de consumir música, coleccionistas, jóvenes entusiastas y músicos.</p>
                <p>Compra online tus discos de vinilo favoritos. Mellowdyne te ofrece diferentes estilos y géneros musicales de artistas nacionales e internacionales.</p>

            </div>
            <div class="column footer-help">
                <h2>Ayuda y soporte</h2>
                <p>En caso de que el producto tenga defectos de fábrica, tienes derecho a recibir un reembolso total, crédito en la tienda o el cambio de su producto, cuenta con 20 días para solicitar la petición.</p>
            </div>
            <div class="column footer-contacts">
                <h2>Contactos</h2>
                <p>Av. We Are the Champions 3500<br> Ciudad: Mercury<br> C.P: 4500</p>
            </div>
            <div class="column footer-social">
                <h2>Siguenos</h2>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-linkedin"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
        </div>
    </footer>

</body>

</html>