<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
    <title>Mellowdyne</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <script src="https://kit.fontawesome.com/525d227bb1.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('./partials/navbar')%>
    <main>
        <section class="carrousel">
            <a href="/products/detail" class="grande">
                <img class="img" src="/images/vinilo_baner1.jpg" />
                <img class="img" src="/images/vinilo_baner2.jpg" />
            </a>
            <ul class="puntos">
                <li class="punto"></li>
                <li class="punto"></li>
            </ul>
        </section>
        <section class="section-top">
            <h2 class="section-top_title">Lo más top</h2>

            <article class="top-article-disk">
                <a href="/products/detail">
                    <img class="top-disk-img" src="/images/beatles.jpeg" />
                </a>
                <p>The Beatles</p>
            </article>

            <article class="top-article-disk">
                <a href="/products/detail">
                    <img class="top-disk-img" src="/images/dreamtheater.jpeg" />
                </a>
                <p>Dream Theater</p>
            </article>

            <article class="top-article-disk">
                <a href="/products/detail">
                    <img class="top-disk-img" src="/images/genesis.jpeg" />
                </a>
                <p>Genesis</p>
            </article>

            <article class="top-article-disk">
                <a href="/products/detail">
                    <img class="top-disk-img" src="/images/pinkfloyd.jpeg" />
                </a>
                <p>Pink Floyd</p>
            </article>
        </section>
        <section class="section-top popular">
            <h2 class="section-top_title">Ediciones populares</h2>

            <article class="top-article-disk">
                <a href="/products/detail">
                    <img class="top-disk-img" src="/images/beatles.jpeg" />
                </a>
                <p>The Beatles</p>
            </article>

            <article class="top-article-disk">
                <a href="/products/detail">
                    <img class="top-disk-img" src="/images/dreamtheater.jpeg" />
                </a>
                <p>Dream Theater</p>
            </article>

            <article class="top-article-disk">
                <a href="/products/detail">
                    <img class="top-disk-img" src="/images/genesis.jpeg" />
                </a>
                <p>Genesis</p>
            </article>

            <article class="top-article-disk">
                <a href="/products/detail">
                    <img class="top-disk-img" src="/images/pinkfloyd.jpeg" />
                </a>
                <p>Pink Floyd</p>
            </article>
        </section>
        <section class="section-top">
            <h2 class="section-top_title">Ediciones más vendidas del mes</h2>

            <article class="top-article-disk">
                <a href="/products/detail">
                    <img class="top-disk-img" src="/images/beatles.jpeg" />
                </a>
                <p>The Beatles</p>
            </article>

            <article class="top-article-disk">
                <a href="/products/detail">
                    <img class="top-disk-img" src="/images/dreamtheater.jpeg" />
                </a>
                <p>Dream Theater</p>
            </article>

            <article class="top-article-disk">
                <a href="/products/detail">
                    <img class="top-disk-img" src="/images/genesis.jpeg" />
                </a>
                <p>Genesis</p>
            </article>

            <article class="top-article-disk">
                <a href="/products/detail">
                    <img class="top-disk-img" src="/images/pinkfloyd.jpeg" />
                </a>
                <p>Pink Floyd</p>
            </article>
        </section>
    </main>
    <%- include('./partials/footer')%>

    <script src="/js/index.js"></script>
</body>

</html>