<header>
  <div class="main_header">
    <div class="header_menu">
      <button class="hamburguer-button">
        <i class="fas fa-bars"></i>
      </button>
      <a class="search_movil">
        <i class="fas fa-search"></i>
      </a>
      <img class="logo_img2" src="/images/mellowdyne-disco.svg" alt="" />
    </div>

    <div class="header_logo">
      <a href="/" class="logo">
        <img class="logo_img" src="/images/mellowdyne.svg" alt="" />
      </a>

      <!-- este es el form para movil -->
      <form action="/search" method="GET" class="search_input_movil">
        <input
          type="text"
          name="keywords"
          placeholder="Buscar álbums"
          class="search-form_input"
        />
        <button type="submit" class="search-form_button">
          <i class="fas fa-search"></i>
        </button>
      </form>

      <!-- este es el form para escritorio -->

      <form action="/search" method="GET" class="search">
        <input
          type="text"
          name="keywords"
          placeholder="Buscar álbums"
          class="search-form_input"
        />
        <button type="submit" class="search-form_button">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>

    <div class="header_icons">
      <% if (locals.isLogged) { %>

      <a href="/users/profile" class="user-icon">
        <img
          class="avatar_icon"
          src="/images/avatars/<%= locals.userLogged.avatar %>"
          alt=""
        />
      </a>

      <div class="butt-regis_login">
        <a href="/users/profile" class="user-profile">
          <img
            class="avatar_icon"
            src="/images/avatars/<%= locals.userLogged.avatar %>"
            alt=""
          />
          <span><%= locals.userLogged.full_name.slice(0,5) %></span>
        </a>

        <a class="user-profile" href="/users/logout">Cerrar Sesión</a>
      </div>

      <a href="/car" class="car-icon">
        <i id="car" class="fas fa-shopping-cart"></i>
        <span class="number-car"></span>
      </a>

      <% } else { %>

      <a href="/users/login" class="user-icon">
        <i class="fas fa-user"></i>
      </a>
      <div class="butt-regis_login">
        <a class="btn_registro" href="/users/register">Registro</a>
        <a class="btn_registro" href="/users/login">Login</a>
      </div>
      <!-- <a href="/products/cart" class="car-icon">
        <i class="fas fa-shopping-cart"></i>
      </a> -->
      <% } %>
    </div>
  </div>

  <nav class="main-navbar_movil menu_movil">
    <% if (locals.isLogged) { %>

    <ul>
      <li><a href="/products">Colecciones</a></li>
      <li><a href="/products/top">Top discos</a></li>
      <li><a href="/products/popular">Ediciones populares</a></li>
      <li><a href="/products/more-sale">Ediciones más vendidas del mes</a></li>
      <li><a href="/products/create">Vender</a></li>
    </ul>

    <% } else { %>

    <ul>
      <li><a href="/products">Colecciones</a></li>
      <li><a href="/products/top">Top discos</a></li>
      <li><a href="/products/popular">Ediciones populares</a></li>
      <li><a href="/products/more-sale">Ediciones más vendidas del mes</a></li>
    </ul>

    <% } %>
  </nav>

  <nav class="main-navbar_desktab">
    <% if (locals.isLogged) { %>

    <ul>
      <li><a href="/products">Colecciones</a></li>
      <li><a href="/products/top">Top discos</a></li>
      <li><a href="/products/popular">Ediciones populares</a></li>
      <li><a href="/products/more-sale">Ediciones más vendidas del mes</a></li>
      <li><a href="/products/create">Vender</a></li>
    </ul>

    <% } else { %>

    <ul>
      <li><a href="/products">Colecciones</a></li>
      <li><a href="/products/top">Top discos</a></li>
      <li><a href="/products/popular">Ediciones populares</a></li>
      <li><a href="/products/more-sale">Ediciones más vendidas del mes</a></li>
    </ul>

    <% } %>
  </nav>
  <script src="/js/navbar.js"></script>
</header>
