<header>
    <div class="main_header">
        <div class="header_menu">
            <button class="hamburguer-button">
        <i class="fas fa-bars"></i>
      </button>
            <a class="search_movil" href="#">
                <i class="fas fa-search"></i>
            </a>
        </div>
        <div class="header_logo">
            <a href="/" class="logo">
                <img class="logo_img" src="/images/mellowdyne.svg" alt="" />
            </a>

            <div class="search">
                <input type="text" placeholder="Buscar" />
            </div>
        </div>
        <div class="header_icons">
            <a href="/users/login" class="user-icon">
                <i class="fas fa-user"></i>
            </a>
            <div class="butt-regis_login">
                <button class="btn_registro">
          <a href="/users/register">Registro</a>
        </button>
                <button class="btn_registro">
          <a href="/users/login">Login</a>
        </button>
            </div>
            <a href="/products/cart" class="car-icon">
                <i class="fas fa-shopping-cart"></i>
            </a>
        </div>
    </div>
    <nav class="main-navbar_movil menu_movil">
        <ul>
            <li><a href="#">Lo nuevo</a></li>
            <li><a href="#">Lo más vendido</a></li>
            <li><a href="#">Género</a></li>
            <li><a href="#">Estilos</a></li>
        </ul>
    </nav>
    <nav class="main-navbar_desktab">
        <ul>
            <li><a href="#">Lo nuevo</a></li>
            <li><a href="#">Lo más vendido</a></li>
            <li><a href="#">Género</a></li>
            <li><a href="#">Estilos</a></li>
        </ul>
    </nav>
</header>