<header>
  <div class="main_header">
    <div class="header_menu">
      <button class="hamburguer-button">
        <i class="fas fa-bars"></i>
      </button>
      <a class="search_movil" href="#">
        <i class="fas fa-search"></i>
      </a>
    </div>
    <div class="header_logo">
      <a href="/" class="logo">
        <img class="logo_img" src="/images/mellowdyne.svg" alt="" />
      </a>

      <div class="search">
        <input type="text" placeholder="Buscar" />
      </div>
    </div>
    <div class="header_icons">
      <% if (locals.isLogged) { %>

      <a href="/users/profile" class="user-icon">
        <img
          class="avatar_icon"
          src="/images/avatars/<%= locals.userLogged.avatar %>"
          alt=""
        />
      </a>

      <div class="butt-regis_login">
        <a href="/users/profile" class="user-profile">
          <img
            class="avatar_icon"
            src="/images/avatars/<%= locals.userLogged.avatar %>"
            alt=""
          />
          <span>Hola <%= locals.userLogged.full_name.slice(0,7) %></span>
        </a>
        <button class="btn_registro">
          <a class="" href="/users/logout">Cerrar Sesión</a>
        </button>
      </div>

      <a href="/products/cart" class="car-icon">
        <i class="fas fa-shopping-cart"></i>
      </a>

      <% } else { %>

      <a href="/users/login" class="user-icon">
        <i class="fas fa-user"></i>
      </a>
      <div class="butt-regis_login">
        <button class="btn_registro">
          <a href="/users/register">Registro</a>
        </button>
        <button class="btn_registro">
          <a href="/users/login">Login</a>
        </button>
      </div>
      <a href="/products/cart" class="car-icon">
        <i class="fas fa-shopping-cart"></i>
      </a>
      <% } %>
    </div>
  </div>

  <nav class="main-navbar_movil menu_movil">
    <% if (locals.isLogged) { %>

    <ul>
      <li><a href="/products">Colecciones</a></li>
      <li><a href="/products/top">Top discos</a></li>
      <li><a href="/products/popular">Ediciones populares</a></li>
      <li><a href="/products/more-sale">Ediciones más vendidas del mes</a></li>
      <li><a href="/products/create">Vender</a></li>
    </ul>

    <% } else { %>

    <ul>
      <li><a href="/products">Colecciones</a></li>
      <li><a href="/products/top">Top discos</a></li>
      <li><a href="/products/popular">Ediciones populares</a></li>
      <li><a href="/products/more-sale">Ediciones más vendidas del mes</a></li>
    </ul>

    <% } %>
  </nav>

  <nav class="main-navbar_desktab">
    <% if (locals.isLogged) { %>

    <ul>
      <li><a href="/products">Colecciones</a></li>
      <li><a href="/products/top">Top discos</a></li>
      <li><a href="/products/popular">Ediciones populares</a></li>
      <li><a href="/products/more-sale">Ediciones más vendidas del mes</a></li>
      <li><a href="/products/create">Vender</a></li>
    </ul>

    <% } else { %>

    <ul>
      <li><a href="/products">Colecciones</a></li>
      <li><a href="/products/top">Top discos</a></li>
      <li><a href="/products/popular">Ediciones populares</a></li>
      <li><a href="/products/more-sale">Ediciones más vendidas del mes</a></li>
    </ul>

    <% } %>
  </nav>
</header>
