<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <title>Mellowdyne</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <script
      src="https://kit.fontawesome.com/525d227bb1.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include('../partials/navbar')%>

    <!-- Formulario -->
    <h2 class="register-title">Actualizando tus datos</h2>

    <form
      method="POST"
      action="/users/profile/editEmail/<%= userToEdit.id_users %>?_method=PATCH"
      class="create-form form-holder"
    >
      <div class="control-form">
        <label><b>Editar electrónico</b></label>
        <input
          required
          type="text"
          name="email"
          class="control-form-input icon-placeholder"
          value="<%= userToEdit.email %>"
        />
      </div>

      <div class="btn-form">
        <button type="submit" class="form-btn">Actualizar datos</button>
      </div>
    </form>
    <%- include('../partials/footer')%>
    <script src="/js/index.js"></script>
  </body>
</html>
